<body>
  <div class="container mt-2">
    {{this.pasajeros[0]}}
    {{this.pasajeros[1]}}
    {{this.pasajeros[2]}}
    {{this.pasajeros[3]}}
    <h2>Formulario de Registro
      <img src="../assets/imagenes/r1.png" width="80px" height="90px" alt="registro">
    </h2>
    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="apellido" name="apellido">
      </div>
      <div *ngIf="esMenor || this.pasajeros[2]>1 || this.pasajeros[3]>1" class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="fechaNacimiento" [(ngModel)]="fechaNacimiento"
          name="fechaNacimiento">
      </div>
      <div *ngIf="mostrarFechaNacimiento">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="text" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div [hidden]="isButtonVisible">
      <button class="boton" [routerLink]="['/resumen']"
        [queryParams]="{idVI: idVI, IV: esIV, p: pasajerosS}">Siguiente página</button>
    </div>
    <div [hidden]="isButtonVisible2" *ngIf="esIV === 'I'">
      <button class="boton" [routerLink]="null">Siguiente página</button>
    </div>
    <div [hidden]="isButtonVisible2" *ngIf="esIV === 'IV'">
      <button class="boton" [routerLink]="['/resumen-de-vuelo-ida-vuelta']"
        [queryParams]="{idVR: idVR, idVI: idVI, IV: esIV, p: pasajerosS}">Siguiente página</button>
    </div>
  </div>
  <div class="clearfix"></div>
</body>

<app-footer></app-footer>