
@font-face {
    font-family: "Asap";
    src: ('fonts/Asap-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hug";
    /*src: url('fonts/First.ttf');*/
    src: ('fonts/Hugshack.otf');
    font-weight: normal;
    font-style: normal;
}



/*Cards*/
#cards h1 {
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-family: 'finger';
    font-weight: normal;
    text-align: center;
    color: #c57d98;
    font-size: 35px;
    margin-top: 20px;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

#cards h1::before {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #c57d98;
    display: inline-block;
    margin-top: 0px;
    margin-right: 30px;
    vertical-align: middle;
}

#cards h1::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: #c57d98;
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
    vertical-align: middle;
}

.card {
    float: left;
    width: 20%;
    height: 230px;
    border: transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #ddd;
    background-color: white;
    overflow: hidden;
    margin: 30px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 300ms;
}

.card img {
    width: 100%;
    position: relative;
    z-index: 2;
    transform: rotate(0deg) scale(1);
}

.card img:hover {
    transform: rotate(0deg) scale(1.2);
}

.card .category {
    width: 80%;
    margin-top: -30px;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: "TrebuchetMS";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: white;
    position: relative;
    z-index: 3;
    border-radius: 20px;
    transform: all 300ms;
}

.card:hover .category {
    color: #00ceae;
    animation: showCategory 400ms linear;
}

@keyframes showCategory {
    from {
        transform: translateY(-300%);
        color: black;
    }

    to {
        transform: translateY(0%);
        color: white;
    }
}

