<div class="clearfix"></div>
<!--Tarjetas-->
<div id="cards">
    <h1>Nuestras recomendaciones</h1>

    <div class="card">
        <img src="css/img/moda2.avif" alt="Moda">
        <h2 class="category">Resalta tu belleza<br>natural</h2>
    </div>
    <div class="card">
        <img src="css/img/cuidado-piel.jpg" alt="Belleza">
        <h2 class="category">Cuida tu piel, brilla por dentro</h2>
    </div>
    <div class="card">
        <img src="css/img/moda.jpg" alt="Moda">
        <h2 class="category">Descubre el poder de la belleza auténtica</h2>
    </div>
    <div class="card">
        <img src="css/img/spa.webp" alt="Cuidado personal">
        <h2 class="category">Transforma tu rutina de cuidado personal</h2>
    </div>

</div>
<div class="clearfix"></div>