<div class="clearfix"></div>
<!--Tarjetas-->
<div id="cards">
    <h1> Noticias Importantes</h1>

    <div class="card">
        <img src="../assets/imagenes/ni1.JPG" alt="noticia1">
        <h2 class="category">Ya eliges cómo volar, ¡Ahora elige qué comer!<br>
            Disfruta desde el 1 de diciembre nuestra nueva oferta de venta de snacks a bordo.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/ni2.JPG" alt="noticia2">
        <h2 class="category">¡Aprovecha estos descuentos!<br>
            Ya compraste tu tiquete ahora reserva tu alojamiento en Booking.com con hasta 40 % DCTO en hoteles
            seleccionados y un cashback de 3 % en tu tarjeta de crédito o débito.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/ni3.JPG" alt="noticia3">
        <h2 class="category">Todos dando todo<br>
            Llevamos más de 103 años dándolo todo para que el sueño de volar sea posible y ahora sea para TODOS.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/ni4.JPG" alt="noticia4">
        <h2 class="category">Lo mejor del mundo Low Cost y VuelaYA! ¡La combinación perfecta!<br>
            Combinamos nuestra esencia, esa que nos hace únicos y que tanto disfrutas. Con la practicidad del mundo low
            cost. Ahora tú decides cómo volar.
        </h2>
    </div>

</div>
<div class="clearfix"></div>