<h5>Selección de asientos Ida <img src="../assets/imagenes/asi1.png" width="70px" height="60px">
  <img src="../assets/imagenes/avion.png" width="90px" height="60px">
</h5>
<hr />
<!-- Se desactiva ya que escogio la forma aleatoria -->
<button style="margin: 20px;margin-left:60px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()"
  [disabled]="isRandomActive">Ver asientos
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Asientos Ida<img src="../assets/imagenes/asi1.png" width="70px" height="60px">
          <img src="../assets/imagenes/avion.png" width="90px" height="60px">
        </h4>
      </div>
      <div class="modal-body">
        <div class="plane">
          <div class="cockpit">
            <br>
            <br>
            <br>
            <br>
            <h2>Disposición de asientos del avión</h2>
            <!-- Agregar una lista de simbología -->
            <ul class="legend">
              <li><span class="legend-color" style="background-color: #28a4e6;"></span> Asientos del 1A al 5F
                (Ejecutiva)
              </li>
              <li style="color: #96bb0d;"><span class="legend-color" style="background-color: #96bb0d;"></span> Asientos
                del 6A al 10F (Turista)
              </li>
            </ul>
            <br>
            <br>
            <br>
          </div>
          <div class="exit exit--front fuselage">

          </div>
          <ol class="cabin fuselage" #seatsContainer>
            <li *ngFor="let row of rows" class="row row--{{ row.rowNumber }}">
              <ol class="seats" type="A">
                <li *ngFor="let seat of row.seats" class="seat">
                  <input type="checkbox" [id]="seat.id" [name]="seat.id" (change)="handleCheckboxChange($event)"
                    [disabled]="selected >= maxSelectedCheckboxes && !seat.selected || disabledCheckboxes.includes(seat.id)" />
                  <label [for]="seat.id">{{seat.id}}</label>
                </li>
              </ol>
            </li>
          </ol>
          <div class="exit exit--back fuselage">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Aceptar Selecciónes
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Se desactiva el button de Selecciónar vuelo -->
<button type="button" (click)="toggleRandom()"
  [ngClass]="{'btn btn-success': isRandomActive, 'btn btn-danger': !isRandomActive}">
  Selección Aleatoria
</button>