<body>
    <h2>Resumen del vuelo seleccionado</h2>
    <app-resumendevueloidavuelta></app-resumendevueloidavuelta>
    <div class="vuelo-item" [routerLink]="['/compra', vuelo._id, pasajeros]">
        <!--<h3>Salida de {{this.rutas.origen}} a {{this.rutas.destino}} a la hora {{this.rutas.}}</h3>-->
        <span class="vueloElegido">Origen: {{rutas.origen}}</span> - <span class="vueloElegido">Destino:
            {{rutas.destino}}</span>
        <span class="vueloElegido">Código del vuelo: {{vuelo.numeroVuelo}}</span>
        <br>
        <span class="vueloElegido">Hora de salida: {{vuelo.horaSalida}}:00</span> ___________
        <img src="../assets/imagenes/avion.png" width="70px" height="80px" alt="avion"> _________
        <span class="vueloElegido">Hora de llegada: {{vuelo.horaLlegada}}:00</span>
        <br>
        <span class="vueloElegido">Precio: ${{vuelo.precio}}</span>

    </div>
    <div class="clearfix"></div>
</body>
<app-footer></app-footer>