<body>
    <h2>Resumen del vuelo seleccionado</h2>
    <div class="vuelo-item">
        <!--<h3>Vuelo de ida  a </h3>-->
        <span class="vueloElegido">Código del vuelo: {{vuelo.numeroVuelo}}</span>
        <br>
        <span class="vueloElegido">Hora de salida: {{vuelo.horaSalida}}:00</span> ___________
        <img src="../assets/imagenes/avion.png" width="70px" height="80px" alt="avion"> _________
        <span class="vueloElegido">Hora de llegada: {{vuelo.horaLlegada}}:00</span>
        <br>
        <span class="vueloElegido">Precio: ${{vuelo.precio}}</span>
    </div>
    <div class="clearfix"></div>
</body>
<app-footer></app-footer>