<body>
    <div class="clearfix"></div>
    
    <div class="flex-container">
        <div class="rigth">
            <br>
            <h3>Selecciona tu equipaje extra:</h3>
            <h4> <img src="../assets/imagenes/m1.png" width="90px" height="60px" alt="maleta1">Maleta de mano
                <button (click)="decrementExtraMano()"
                    class="button-minus border rounded-circle  icon-shape icon-sm mx-1 lh-0"
                    data-field="quantity">-</button>
                <span>{{ extraCountmano }}</span>
                <button (click)="incrementExtraMano()" class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                    data-field="quantity">+</button>
            </h4>
            <h4> <img src="../assets/imagenes/m2.png" width="80px" height="90px" alt="maleta2"> Maleta de 23kg
                <button (click)="decrementExtra()"
                    class="button-minus border rounded-circle  icon-shape icon-sm mx-1 lh-0"
                    data-field="quantity">-</button>
                <span>{{ extraCount23kg }}</span>
                <button (click)="incrementExtra()" class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                    data-field="quantity">+</button>
            </h4>
        </div>
        <div class="flex-container"></div>
        <div>
            <!-- Mientras no haya puesto todos sus puestos, o haya seleccionado el aleatorio si no desea seleccionar no podra pasar a la siguiente pagina -->
            <div [hidden]="isButtonVisible">
                <app-seleccion-asientos-ida (emitArrayAsientos)="onCheckboxesChangeI($event)"
                    [maxSelectedCheckboxes]="sumaPasajeros"></app-seleccion-asientos-ida>
                <button class="boton-rosado" name="ida" [routerLink]="['/pago']"
                    [queryParams]="{idVI: idVI, p: pasajeros, IV: esIV, em: extraCountmano, e23: extraCount23kg, aI: asientosIS}"
                    [disabled]="asientosI.length === 0 || asientosI.length !== sumaPasajeros">Siguiente pagina</button>
            </div>
            <div [hidden]="isButtonVisible2" *ngIf="esIV === 'IV'">
                <app-seleccion-asientos-ida (emitArrayAsientos)="onCheckboxesChangeI($event)"
                    [maxSelectedCheckboxes]="sumaPasajeros"></app-seleccion-asientos-ida>
                <app-seleccion-asientos-regreso (emitArrayAsientosR)="onCheckboxesChangeR($event)"
                    [maxSelectedCheckboxes]="sumaPasajeros"></app-seleccion-asientos-regreso>
                <button class="boton-rosado" name="regreso" [routerLink]="['/pago']"
                    [queryParams]="{idVI: idVI, idVR: idVR, IV: esIV, p: pasajeros, em: extraCountmano, e23: extraCount23kg, aI: asientosIS, aR: asientosRS}"
                    [disabled]="(asientosR.length === 0 || asientosI.length === 0) || (asientosI.length !== sumaPasajeros || asientosR.length !== sumaPasajeros)">Siguiente
                    pagina</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</body>
!--<app-footer></app-footer>