<body>
    <div class="clearfix"></div>
    <h3>Selecciona tu equipaje extra:</h3>
    <div>

        <h4> <img src="../assets/imagenes/m1.png" width="90px" height="60px" alt="maleta1">Maleta de mano
            <button (click)="decrementExtraMano()"
                class="button-minus border rounded-circle  icon-shape icon-sm mx-1 lh-0"
                data-field="quantity">-</button>
            <span>{{ extraCountmano }}</span>
            <button (click)="incrementExtraMano()" class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                data-field="quantity">+</button>
        </h4>
    </div>
    <div>

        <h4> <img src="../assets/imagenes/m2.png" width="80px" height="90px" alt="maleta2"> Maleta de 23kg
            <button (click)="decrementExtra()" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 lh-0"
                data-field="quantity">-</button>
            <span>{{ extraCount23kg }}</span>
            <button (click)="incrementExtra()" class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                data-field="quantity">+</button>
        </h4>
    </div>

    <br>

    <div class="clearfix"></div>
</body>
<!--<app-footer></app-footer>-->