<!--Trabajar en el disenio de algunas cosas, no se necesita necesariamente jquery para algunas cosas, 
varios pop ups o UIs se pueden buscar como implementarlos con bootstrap-->

<body>
    <form #vueloForm="ngForm" (ngSubmit)="getVueloRuta()">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" checked>
            <label class="form-check-label" for="flexRadioDisabled">
                Ida y Vuelta
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled">
            <label class="form-check-label" for="flexRadioCheckedDisabled">
                Solo Ida
            </label>
        </div>

        <h1>¿A dónde viajas?</h1>
        <h2>¿Cuándo viajas?</h2>
        <h3>¿Cuántos viajan?</h3>
        <div class="control">
            <!--¿A donde viajas?-->
            <div class="form-group">
                <label for="origen">Desde:</label>
                <select class="form-select" aria-label="Default select example" name="origen" [(ngModel)]="rutaS.origen"
                    (ngModelChange)="checkDestino($event)">
                    <option *ngFor="let aeropuerto of aeropuertos" [ngValue]="aeropuerto.ubicacion">
                        {{aeropuerto.ubicacion}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="destino">Hasta:</label>
                <select class="form-select" aria-label="Default select example" name="destino"
                    [(ngModel)]="rutaS.destino" [disabled]="isDisabled">
                    <option *ngFor="let aeropuerto of aeropuertos" [ngValue]="aeropuerto.ubicacion">
                        <div *ngIf="valorUbicacion != aeropuerto.ubicacion">
                            {{aeropuerto.ubicacion}}
                        </div>
                    </option>
                </select>
            </div>
            <!--¿Cuando viajas?-->
            <label for="datepicker"></label>
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control2" placeholder="Salida" name="fechaSalida" [(ngModel)]="rutaS.fechaSalida"
                        ngbDatepicker #d="ngbDatepicker" [minDate]="today" [maxDate]="maxDate" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"><img
                            src="../assets/imagenes/calendar.png"></button>

                </div>
            </div>
            <!--Cambiar los campos para que funcione la captacion de la fecha-->
            <div class="col-6">
                <div class="input-group">
                    <input class="form-control2" placeholder="Vuelta" name="fechaSalida" [(ngModel)]="rutaS.fechaSalida"
                        ngbDatepicker #d="ngbDatepicker" [minDate]="today" [maxDate]="maxDate" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"><img
                            src="../assets/imagenes/calendar.png"></button>

                </div>
            </div>
            <!--¿Cuántos viajan?-->

            <!-- <div class="input-group2">
                <button class="btn btn-outline-secondary" type="button" id="decrementBtn">-</button>

                <input name="pasajerosReserva" type="number" class="form-control" id="quantityInput" value="1" min="1"
                    max="10" [(ngModel)]="pasajeros">
                <button class="btn btn-outline-secondary" type="button" id="incrementBtn">+</button>
            </div>-->
            <div class="input-group2">
                <app-seleccion-pasajeros></app-seleccion-pasajeros>
            </div>



            <button type="submit" value="Guardar" class="btn btn-primary" [disabled]="!vueloForm.form.valid">Buscar
                vuelo</button>

        </div>
    </form>
</body>