@font-face {
    font-family: "WebSymbolsRegulars";
    src: url('fonts/WebSymbols-Regular.otf');
}

.icon {
    font-family: WebSymbolsRegulars;
}

@font-face {
    font-family: "Asap";
    src: url('fonts/Asap-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hug";
    /*src: url('fonts/First.ttf');
    ../assets/fonts/Asap-MediumItalic.ttf*/
    src: url('fonts/Hugshack.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gro";
    src: url('fonts/ground.ttf');
    font-weight: normal;
    font-style: normal;
}

form {
    margin: 20px;
    padding: 20px;
    border: 3px solid #96bb0d;
    background-color: #95bb0da3;
    border-radius: 5px;
    gap: 20px;

}

.form-check {
    margin-bottom: 10px;
    font-family: "Asap";
}

.form-check-label {
    float: left;
    margin-right: 100px;

}


.form-label {
    display: block;
    margin-bottom: 5px;
    font-family: "Hug";

}

.form-group {
    margin: 15px;
}

.form-select {
    border-color: #96bb0d;
    border-width: 2px;
    width: 130px;
    margin-right: 10px;
}

h1 {
    margin: 10px;
    margin-right: 30px;
    margin-left: 10px;
    font-family: "Hug";
    font-size: 14px;
    display: inline-block;
}

h2 {
    margin: 10px;
    margin-right: 30px;
    margin-left: 160px;
    font-family: "Hug";
    font-size: 14px;
    display: inline-block;
}

h3 {
    margin: 10px;
    margin-right: 30px;
    margin-left: 100px;
    font-family: "Hug";
    font-size: 14px;
    display: inline-block;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group2 {
    float: left;
    display: flex;
    align-items: center;
}

.form-control {
    margin: 10px;
    margin-top: 30px;
    padding: 8px;
    border: 1px solid #F7A82F;
    border-radius: 5px;
    font-family: "Asap";
}

.form-control2 {
    margin: 10px;
    margin-top: 30px;
    padding: 7px;
    border: 1px solid #F7A82F;
    border-radius: 5px;
    font-family: "Asap";
}

.input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {
    position: relative;
    flex: 0.2 1 auto;
    width: 1%;
    min-width: 10px;
}


.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-family: "Asap";
}

#datepicker {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #F7A82F;
    border-radius: 5px;
    font-family: "Asap";
    float: left;

}


.btn-primary {
    
    background-color: #0073ff;
    color: white;
    margin: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Asap";

}

.btn-outline-secondary {
    margin-top: 20px;
    background-color: #7e9e0bbd;
}

.ui-datepicker-buttonpane {
    display: flex;
    justify-content: center;
}

/* Ajusta la posición del mini calendario */
.ui-datepicker-inline {
    display: inline-block;
    margin-left: 10px;
    /* Ajusta el margen según tu diseño */
}

/* Estilo para el botón de incremento */
#incrementBtn {
    margin-left: 5px;
    background-color: #7e9e0bbd;
    color: white;
    font-size: 30px;
    padding: 0px;

}

/* Estilo para el botón de decremento */
#decrementBtn {
    margin-left: 5px;
    background-color: #7e9e0bbd;
    color: white;
    font-size: 30px;
    padding: 1.5px;
}

/* Estilo para el input */
.form-control {
    width: 50px;
    /* Ajusta el ancho según tus preferencias */
    text-align: center;
}

.col-6 {
    width: auto;
}