<body>
    <form  >
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
            <label class="form-check-label" for="flexRadioDisabled">
                Ida y Vuelta
            </label>
            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked
                disabled>
            <label class="form-check-label" for="flexRadioCheckedDisabled">
                Solo Ida
            </label>
        </div>

        <h3>¿A dónde viajas?</h3>
        <h3>¿Cuándo viajas?</h3>
        <h3>¿Cuántos viajan?</h3>
        <div class="control">
            <!--¿A donde viajas?-->
            <label for="exampleDataList" class="form-label"></label>
            <input name="origen" #origen="ngModel" [(ngModel)]="ruta.origen" class="form-control" list="datalistOptions"
                id="origen" placeholder="Desde">
            <datalist id="datalistOptions">
                <option value="Quito">
                <option value="Guayaquil">
                <option value="Cuenca">
            </datalist>
            <label for="exampleDataList" class="form-label"></label>
            <input name="destino" #destino="ngModel" [(ngModel)]="ruta.destino" class="form-control"
                list="datalistOptions" id="destino" placeholder="Hacia">
            <datalist id="datalistOptions">
                <option value="Quito">
                <option value="Guayaquil">
                <option value="Cuenca">
            </datalist>
            <!--¿Cuando viajas?-->
            <label for="datepicker"></label>
            <input name="fechaSalida" #fechaSalida="ngModel" [(ngModel)]="ruta.fechaSalida" type="text" id="datepicker"
                placeholder="Fecha de Salida">
            <!--¿Cuántos viajan?-->
            
            <div class="input-group">
                <button class="btn btn-outline-secondary" type="button" id="decrementBtn">-</button>
                <!--
                    deberia crear un vuelo para pasajerosReserva ¿?
<input name="pasajerosReserva" #pasajerosReserva="ngModel" [(ngModel)]="vuelo.pasajerosReserva" type="number" class="form-control" id="quantityInput" value="1" min="1" max="10">
                -->
                <input name="pasajerosReserva"  type="number" class="form-control" id="quantityInput" value="1" min="1" max="10">
                <button class="btn btn-outline-secondary" type="button" id="incrementBtn">+</button>
            </div>
            <button type="submit" value="Guardar"  class="btn btn-primary">Buscar vuelo</button>

        </div>
    </form>
</body>
    