/* Estilos generales */
body {
    background-image: ('../assets/imagenes/despegue.gif');
    margin: 20px;
    padding: 10px;
    font-family: 'Asap';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: fadeIn 1s ease-in;
}

/* Estilos para el título amarillo */
h2 {
    color: #fed809;
    margin: 30px;
    font-family: 'Hug';
}

/* Estilos para el subtítulo celeste */
h3 {
    color: #28a4e6;
    margin: 10px;
}

/* Estilos para el listado .listado {
    margin: 10px;
    background-color: #28e651;
} */


/* Estilos para los elementos de vuelo */
.vuelo-item {
    font-family: 'Asap';
    color: aqua;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #a71414;
}

/* Estilos para el botón Seleccionar */
.boton-rosado {
    font-family: 'Asap';
    background-color: #e2097e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para las horas de vuelo */
.hora-salida,
.hora-llegada {
    font-family: 'Asap';
    color: #f8770f;
}

/* Estilos para el número de vuelo */
.numero-vuelo {
    font-family: 'Asap';
    color: #28a4e6;
}

/* Estilos para el precio */
.precio-verde {
    font-family: 'Asap';
    color: #96bb0d;
}