
    <div class="container">
        <div class="row mb-8 justify-content-center ">
            <div class="col-md-6 col-12">
                <div class="mb-4 border-bottom pb-2">
                    <h4 class="mb-0">Disposition & Amenities</h4>
                </div>s
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="text-dark">Guests</p>
                            </div>
                            <div class="input-group w-auto justify-content-end align-items-center">
                                <input type="button" value="-"
                                    class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
                                    data-field="quantity">
                                <input type="number" step="1" max="10" value="1" name="quantity"
                                    class="quantity-field border-0 text-center w-25">
                                <input type="button" value="+"
                                    class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="text-dark">Bedroom</p>
                            </div>
                            <div class="input-group w-auto justify-content-end align-items-center">
                                <input type="button" value="-"
                                    class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
                                    data-field="quantity">
                                <input type="number" step="1" max="10" value="1" name="quantity"
                                    class="quantity-field border-0 text-center w-25">
                                <input type="button" value="+"
                                    class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                                    data-field="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="text-dark">Bathroom</p>
                            </div>
                            <div class="input-group w-auto justify-content-end align-items-center">
                                <input type="button" value="-"
                                    class="button-minus border rounded-circle  icon-shape icon-sm mx-1 lh-0"
                                    data-field="quantity">
                                <input type="number" step="1" max="10" value="1" name="quantity"
                                    class="quantity-field border-0 text-center w-25">
                                <input type="button" value="+"
                                    class="button-plus border rounded-circle icon-shape icon-sm lh-0"
                                    data-field="quantity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>