<h4>Este es el resumen de compra cuando la compra es de vuelo de ida y vuelta
    Necesito que me pases los siguientes datos:
    dd
</h4>
<ul>

    <li> Hora de salida del vuelo de ida y de regreso </li>
    <li>
        Hora de llegada del vuelo de ida y de regreso</li>
    <li> Precio del vuelo de ida y de regreso</li>
    <li> Lugar de oriden del vuelo de ida y de regreso</li>
    <li> Lugar de destino del vuelo de ida y de regreso</li>
    <li>Numero de vuelo de ida y de regreso</li>
    <li>Numero de pasajeros</li>
</ul>