body {
    color: #28a4e6;
    margin: 30px;
    font-family: 'Asap';
    border: 2px #0073ff;
    background-color: #c8cbbc7e;
    border-radius: 20px;
    margin-top: 30px;
    padding: 5px;
    border-bottom: 1px solid #0073ff;
    cursor: pointer;
    width: 25%;

}

.class1 {
    color: #96bb0d;
    margin: 15px;
    font-family: 'Hug';
    font-size: 15px;
    text-align: center;
}

.class2 {
    font-family: 'Hug';
    font-size: 15px;
    margin: 10px;
}

h2 {
    font-size: 17px;
    font-family: 'Asap';
    margin: 5px;
}

h3 {
    font-family: 'gro';
    margin: 15px;
    text-align: right;
}

h4 {
    font-family: 'Asap';
    margin: 5px;
}

ul {
    font-family: 'Asap';
    padding: 5px;
    margin: 20px;
    margin-bottom: 10px;
    background-image: src("../assets/imagenes/re.png"); 
}

li {
    font-family: 'Asap';
    margin-bottom: 10px;
}
.image-container {
    margin-left: 10px;
    margin-right: 20px;
    text-align: right;
    /* Ajusta el margen según tu preferencia */
}

.image-container img {
    max-width: 100%;
    height: -1000px;
}

