<div class="clearfix"></div>
<!--Tarjetas-->
<div id="cards">
    <h1> Beneficios</h1>

    <div class="card">
        <img src="../assets/imagenes/be1.png" class="img-fluid" alt="beneficio1">
        <h2 class="category">Ya eliges cómo volar, ¡Ahora elige qué comer!<br>
            Disfruta desde el 1 de diciembre nuestra nueva oferta de venta de snacks a bordo.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be2.png" class="img-fluid" alt="beneficio2">
        <h2 class="category">¡Aprovecha estos descuentos!<br>
            Ya compraste tu tiquete ahora reserva tu alojamiento en Booking.com con hasta 40 % DCTO en hoteles
            seleccionados y un cashback de 3 % en tu tarjeta de crédito o débito.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be3.png" class="img-fluid" alt="beneficio3">
        <h2 class="category">Todos dando todo<br>
            Llevamos más de 103 años dándolo todo para que el sueño de volar sea posible y ahora sea para TODOS.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be4.png" class="img-fluid" alt="beneficio4">
        <h2 class="category">Lo mejor del mundo Low Cost y VuelaYA! ¡La combinación perfecta!<br>
            Combinamos nuestra esencia, esa que nos hace únicos y que tanto disfrutas. Con la practicidad del mundo low
            cost. Ahora tú decides cómo volar.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be5.png" class="img-fluid" alt="beneficio5">
        <h2 class="category">Ya eliges cómo volar, ¡Ahora elige qué comer!<br>
            Disfruta desde el 1 de diciembre nuestra nueva oferta de venta de snacks a bordo.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be6.png" class="img-fluid" alt="beneficio6">
        <h2 class="category">¡Aprovecha estos descuentos!<br>
            Ya compraste tu tiquete ahora reserva tu alojamiento en Booking.com con hasta 40 % DCTO en hoteles
            seleccionados y un cashback de 3 % en tu tarjeta de crédito o débito.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be7.png" class="img-fluid" alt="beneficio7">
        <h2 class="category">Todos dando todo<br>
            Llevamos más de 103 años dándolo todo para que el sueño de volar sea posible y ahora sea para TODOS.
        </h2>
    </div>
    <div class="card">
        <img src="../assets/imagenes/be8.png" class="img-fluid" alt="beneficio8">
        <h2 class="category">Lo mejor del mundo Low Cost y VuelaYA! ¡La combinación perfecta!<br>
            Combinamos nuestra esencia, esa que nos hace únicos y que tanto disfrutas. Con la practicidad del mundo low
            cost. Ahora tú decides cómo volar.
        </h2>
    </div>

</div>
<div class="clearfix"></div>
<app-footer></app-footer>