<footer id="footer">
    <div class="wrap">
        <div id="info">
            <div class="logo">
                <img src="../assets/imagenes/VUELAYA.png" width="200px" height="200px">
                <!--<h5>Vuela Ya!</h5>-->
            </div>

            <BR>
            <span>Copyright &copy; 2023-Vuela Ya! <br>All rights reserved.</span>

        </div>
        <div id="menu_footer">
            <h5>Navegación</h5>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a>Nosotros</a></li>
                <li><a>Beneficios</a></li>
                <li><a>Red de Servicios</a></li>
            </ul>
        </div>
        <div id="location">
            <h5>Síguenos</h5>
            <a href="#" class="icon">f</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="icon">t</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="icon">@</a>
            <br><br>
            <h5>Contactos</h5>
            <span>
                +593 9959925962
                <br>
                +593 9911628962

            </span>

        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.790919037427!2d-78.4906043!3d-0.21234740000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107e1cd44b%3A0x88a284f66939ed4!2sESCUELA%20POLIT%C3%89CNICA%20NACIONAL!5e0!3m2!1ses!2sec!4v1691620802367!5m2!1ses!2sec"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="clearfix"></div>

</footer>