<body>
    <div class="clearfix"></div>
    <h2>Listado de Vuelos Disponibles de Regreso</h2>
    <div *ngIf="vuelosR.length > 0">

        <h3>Salida de {{this.rutasI.destino}} a {{this.rutasI.origen}}</h3>
        <ul>
            <li *ngFor="let vuelo of vuelosR" class="vuelo-item">
                <div >
                    <button class="boton-rosado" name="ida"
                        [routerLink]="['/resumen', vuelo._id, pasajeros]">Seleccionar</button>
                </div>
                <div *ngIf="esIV === 'I'">
                    <button class="boton-rosado" name="regreso" [routerLink]="null">Seleccionar</button>
                </div>
                <div  *ngIf="esIV === 'IV'">
                    <button class="boton-rosado" name="regreso"
                        [routerLink]="['/listado-regreso', rutasI._id, rutasI[0]._id, vuelo._id, pasajeros]">Seleccionar</button>
                </div>
                <br>
                <span class="hora-salida">Hora de salida {{ vuelo.horaSalida }}:00</span> ___________
                <img src="../assets/imagenes/avion.png" width="70px" height="80px" alt="avion"> _________
                <span class="hora-llegada">Hora de llegada {{vuelo.horaLlegada}}:00</span>
                <br>
                <span class="numero-vuelo">{{vuelo.numeroVuelo}}</span>
                <br>
                <h4 class="precio">${{vuelo.precio}}</h4>
                <br>
            </li>
        </ul>
    </div>
    <div *ngIf="vuelosR.length === 0">
        <p>No se encontraron vuelos disponibles.</p>
    </div>
    <div class="clearfix"></div>

</body>
<app-footer></app-footer>