<h5>Seleccion de asientos Regreso</h5>
<hr />
<button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()" [disabled] = "isRandomActive">Show Data
</button>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Asientos Regreso</h4>
      </div>
      <div class="modal-body">
        <div class="plane">
          <div class="cockpit">
            <br>
            <br>
            <br>
            <br>
            <h2>Disposicion de asientos del avion</h2>
          </div>
          <div class="exit exit--front fuselage">

          </div>
          <ol class="cabin fuselage" #seatsContainer>
            <li *ngFor="let row of rows" class="row row--{{ row.rowNumber }}">
              <ol class="seats" type="A">
                <li *ngFor="let seat of row.seats" class="seat">
                  <input type="checkbox" [id]="seat.id" [name]="seat.id" (change)="handleCheckboxChange($event)" [disabled]="(selected >= maxSelectedCheckboxes && !seat.selected) || disabledCheckboxes.includes(seat.id)" />
                  <label [for]="seat.id">{{ seat.id }}</label>
                </li>
              </ol>
            </li>
          </ol>
          <div class="exit exit--back fuselage">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Se desactiva el button de seleccionar vuelo -->
<button type="button" (click)="toggleRandom()" [ngClass]="{'btn btn-success': isRandomActive, 'btn btn-danger': !isRandomActive}">
  Seleccion Aleatoria
</button>